@import url("https://fonts.googleapis.com/css?family=Ribeye&display=swap");

.footer-container {
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ribeye", cursive;
  height: 3rem;
}

.footer-elipses {
  width: 100%;
  position: relative;
  top: 15px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
