@import url("https://fonts.googleapis.com/css?family=Ribeye&display=swap");

.footer-container {
  background-image: url(./Header.svg);
  background-repeat: repeat-x;
  background-size: auto 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
