#input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form--element {
  margin: 1em;
}
