@import url('https://fonts.googleapis.com/css?family=Ribeye&display=swap');

.navbar {
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    font-family: 'Ribeye', cursive;
}
img {
    height: 3rem;
}
.navbar--restart, .navbar--home {
    margin: 0.8rem 2rem;
    padding: 0.5rem 0rem;
}
.elipses {
    width: 100%;
    position: relative;
    top: -15px;
}