@import url("https://fonts.googleapis.com/css?family=Ribeye&display=swap");

.navbar {
  background-image: url(./Header.svg);
  background-repeat: repeat-x;
  background-size: auto 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ribeye", cursive;
}
