#hula--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#avatar {
  width: 20vw;
  border-radius: 50%;
}

#safe-zone {
  border-top: 0.1em dashed red;
  border-bottom: 0.1em dashed red;
  padding: 5vw;
  position: relative;
  top: -40vh;
  left: 0;
}

#hula--body {
  margin-bottom: 10vh;
}

#hula {
  position: relative;
}

.hoopPosition1 {
  top: 0.6em;
}

.hoopPosition2 {
  top: 1.2em;
  left: 1em;
}

.hoopPosition3 {
  top: 1.8em;
}

.hoopPosition4 {
  top: 2.4em;
  left: 1em;
}

.hoopPosition5 {
  top: 3em;
  right: 1em;
}

.hoopPosition-1 {
  top: -0.6em;
  left: 0.3em;
}

.hoopPosition-2 {
  top: -1.2em;
}

.hoopPosition-3 {
  top: -1.8em;
  left: 1.2em;
}

.hoopPosition-4 {
  top: -2.4em;
  right: 0.6em;
}

.hoopPosition-5 {
  top: -3em;

}


.stick-left {
  
}
.stick-left {

}

@keyframes move-body {
  from {
    transform: skewX(-20deg);
  }

  to {
    transform: skewX(20deg);
  }
}

.stick-body {
  animation-duration: 0.5s;
  animation-name: move-body;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-leg-left {
  from {
    transform: rotate(-20deg) translateX(-100px);
  }

  to {
    transform: rotate(20deg) translateX(100px);

  }
}

.stick-left {
  animation-duration: 0.5s;
  animation-name: move-leg-left;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-leg-right {
  from {
    transform: rotate(20deg) translateX(100px) translateY(0px);
  }
  
  to {
    transform: rotate(-20deg) translateX(-100px) translateY(0px);
  }
}

.stick-right {
  animation-duration: 0.5s;
  animation-name: move-leg-right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}