#hula--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar {
  width: 20vw;
  border-radius: 50%;
}

#safe-zone {
  border-top: 0.1em dashed red;
  border-bottom: 0.1em dashed red;
  padding: 5vw;
  position: absolute;
  top: 68%;
  left: 27%;
}

#hula--body {
  margin-bottom: 10vh;
}

#hula {
  position: relative;
}

.hoopPosition1 {
  top: 0.6em;
}

.hoopPosition2 {
  top: 1.2em;
  left: 0.3em;
}

.hoopPosition3 {
  top: 1.8em;
}

.hoopPosition4 {
  top: 2.4em;
  left: 0.3em;
}

.hoopPosition5 {
  top: 3em;
  right: 0.3em;
}

.hoopPosition-1 {
  top: -0.6em;
  left: 0.3em;
}

.hoopPosition-2 {
  top: -1.2em;
}

.hoopPosition-3 {
  top: -1.8em;
  left: 0.3em;
}

.hoopPosition-4 {
  top: -2.4em;
  right: 0.3em;
}

.hoopPosition-5 {
  top: -3em;
  right: 0.3em;
}
